@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
:root {
  --overlay-color: rgb(42, 96, 167);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Popins", sans-serif;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.Contact {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: #fff;
  z-index: 2;
  transition: 1s;
}
.Contact header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: horizontal;
}
.Contact header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: horizontal;
}
.Contact.active {
  right: 300px;
}
.Showcase {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: #fff;
  z-index: 2;
  transition: 1s;
}
.Showcase header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: horizontal;
}
.Toggle {
  position: relative;
  width: 60px;
  height: 60px;
  background: url("../img/menu.png");
  filter: invert(1);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}
.Toggle.active {
  background: url("../img/close.png");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
}
.Showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
}
.Showcase.active {
  right: 300px;
}
.AboutUs {
  position: relative;
  z-index: 10;
}
.Overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #5ec0f1;
  mix-blend-mode: overlay;
}
.AboutUs h2 {
  font-size: 5em;
  font-weight: 800;
  line-height: 1em;
  text-transform: uppercase;
}
.AboutUs h3 {
  font-size: 4em;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}
.AboutUs p {
  font-size: 1.2em;
  margin: 20px 0;
  max-width: 700px;
  font-weight: 400;
  line-height: 1em;
  text-transform: uppercase;
}
.AboutUs a {
  display: inline-block;
  font-size: 1em;
  background: #fff;
  text-decoration: none;
  color: #111;
  margin-top: 10px;
  padding: 10px 30px;
  letter-spacing: 2px;
  transition: 0.2s;
}
.AboutUs a:hover {
  letter-spacing: 6px;
}
.ContactForm h2 {
  font-size: 5em;
  font-weight: 800;
  line-height: 1em;
  text-transform: uppercase;
}
.ContactForm h3 {
  font-size: 4em;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}
.ConfirmBottom {
  display: inline-block;
  font-size: 1em;
  background: #fff;
  text-decoration: none;
  color: #111;
  margin-top: 10px;
  padding: 10px 30px;
  letter-spacing: 2px;
  transition: 0.2s;
}
.Social {
  position: absolute;
  bottom: 20px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Social li {
  list-style: none;
}
.Social li a {
  display: inline-block;
  filter: invert(1);
  margin-right: 10px;
  transform: scale(0.5);
  transition: 0.5s;
}
.Social li a:hover {
  transform: scale(1) translateY(-15px);
}
.Menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Menu ul {
  position: relative;
  line-height: 2em;
}
.Menu ul li {
  list-style: none;
}
.Menu ul li a {
  text-decoration: none;
  font-size: 24px;
  color: #111;
}
.Menu ul li a:hover {
  text-decoration: none;
  font-size: 24px;
  color: rgb(42, 96, 167);
}
@media (max-width: 850px) {
  .Showcase,
  .Showcase .header {
    padding: 40px;
  }
  .Showcase.active {
    right: 200px;
  }
  .AboutUs h2 {
    font-size: 3em;
  }
  .AboutUs h3 {
    font-size: 2em;
  }
  .Menu {
    width: 200px;
  }
}
