@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');
:root {
	--primary-color: #b2bceb;
	--secondary-color: #8e9de8;
	--dark-color: #4d66e3;
	--light-color: #f4f4f4;
}
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	font-family: 'Lato', sans-serif;
	color: #333;
	line-height: 1.6;
}
html {
  	scroll-behavior: smooth;
}
ul { list-style-type: none; }
a {
	text-decoration: none;
	color: #333;
	font-size: 1.2rem;
}
h1, h2 {
	font-weight: 300;
	line-height: 1;
	margin: 10px, 0px;
}
p { margin: 10px, 0px; font-size: 1.1rem;}
img { width: 100%; }
.navbar {
	background-color: var(--primary-color);
	height: 100px;
}
.navbar .logo {
	width: 270px;
	padding: 10px;
}
.navbar .flex { justify-content: space-between; }
.navbar ul { display: flex; }
.navbar a {
	color: #111;
	padding: 10px;
  	margin: 0 5px;	
}
.navbar a:hover { border-bottom: 2px #111 solid; }
.showcase {
	height: 450px;
	background-color: var(--primary-color);
	position: relative;
}
.showcase-text { padding: 15px; margin: 10px; }
.showcase h1 { font-size: 40px; padding: 10px; }
.showcase p { margin: 20px 10px; }
.showcase .grid {
	grid-template-columns: 70% 30%;
	gap: 30px;
	overflow: visible;
}
.showcase-form {
	position: relative;
	top: 60px;
	height: 400px;
	width: 400px;
	padding: 40px;
	z-index: 100;
}
.showcase-form .form-control { margin: 30px 0; }
.showcase-form input[type=text], .showcase-form input[type=email], .showcase-form input[type=tel] { 
  	border: 0;
	border-bottom: 1px solid #b4becb; 
        width: 100%;
	padding: 3px;
	font-size: 16px;
}
.showcase-form input:focus { outline: none; }
.showcase::before, showcase::after {
	content: '';
	position: absolute;
	height: 100px;
	bottom: -70px;
	right: 0px;
	left: 0px;
	background: #fff;
	transform: skewY(-3deg)
}
.stats { padding-top: 100px; }
.stats-heading {
	display: grid;
	max-width: 100%;
	margin: auto;
	text-align: center;
}
.stats .grid-3 h3 { font-size: 55px; }
.stats .grid-3 p {
	font-size: 40px;
	font-weight: bold;
}
.owner .grid { grid-template-columns: 7fr 10fr; }
.owner .card { text-align: center;}
.owner .card img { width: 200px; border-radius: 20px;}
.owner .owner { margin: 20px; }
.collaborator .grid { grid-template-columns: 10fr 7fr; }
.collaborator .card { text-align: center;}
.collaborator .card img { width: 200px; border-radius: 20px; }
.collaborator .owner { margin: 20px; }
.stats .card { align-items: center; }
.services .flex {
	flex-wrap: wrap;
}
.services .card {
	text-align: center;
	margin: 18px 10px 40px;
	transition: transform 0.2s ease-in;	
}
.services .card h4 {
	font-size: 20px;
	margin-bottom: 10px;
}
.services .card:hover {
	transform: translateY(-15px);
}
.services .card a { margin: 10px; }
.infos { align-items: center; align-text: center; }
.route { margin: 20px; padding: 20px; }
.infos .email-tel { padding: 20px; margin: 20px; align-text: center; }
.footer { justify-content: space-between; }
.footer nav ul { display: flex; }
.footer nav a {
	color: #111;
	padding: 10px;
  	margin: 0 5px;	
}
.footer nav a:hover { border-bottom: 2px #111 solid; }
.footer .social a { margin: 0px 10px; }
.footer .social i:hover { transform: scale(1.2); }
@media(max-width: 1200px) {
	.showcase .grid { grid-template-columns: 1fr;}
	.showcase { height: auto }
	.showcase-text { text-align: center; margin-top: 40px; }
	.showcase-form { justify-self: center; margin: auto; }
	.cloud .owner { margin: 20px; }
}
@media(max-width: 800px) {
	.navbar { height: 150px; }
	.navbar .flex { flex-direction: column; }
	.navbar ul { padding: 10px; background-color: rgba(0, 0, 0, 0.1); border-radius: 10px;}
	.grid, .showcase .grid { grid-template-columns: 1fr;}
	.showcase { height: auto }
	.showcase-text { text-align: center; margin-top: 40px; }
	.showcase-form { justify-self: center; margin: auto; }
	.cloud .owner { margin: 20px; }
}
@media(max-width: 600px) {
	.collaborator .grid { grid-template-columns: 1fr; }
	.owner .grid { grid-template-columns: 1fr; }
	.footer .grid-3 { grid-template-columns: 2fr 1fr; }
}
